@page
@model ChristmasTE.Pages.WhenModel
@{
}
<h1>Nedtælling</h1>
<p>
    <ol>
        <li>Der er <countdown date="@DateTime.Parse("2023-12-24")"></countdown> dage til jul.</li>
        <li>Der er <countdown date="@DateTime.Parse("2023-05-05")"></countdown> dage til St. Bededag</li>
        <li>Der er <countdown date="@DateTime.Parse("2023-02-23")"></countdown> dage til eksamen</li>
    </ol>
    

</p>
